        *{
            margin: 0;
            box-sizing: border-box;
        }   
     /*side bar menu style */
      .hamburger-menu::before,
        .hamburger-menu::after,
        .hamburger-menu span{
            content: '';
            width: 45px;
            height: 6px;
            background: var(--hamburger-color, rgb(34, 33, 33));
            border-radius: 100px;
        }
        .close-menu{
          position: relative;
           width: 40px;
          height: 40px;
          transform: rotate(45deg);
        }
        .close-menu::before,
        .close-menu::after{
            content: '';
            background: white;
            position: absolute;
        }
        .close-menu::before{
          width: 10%;
          height: 100%;
          left: 50%;
          margin-left: -3px;
        }
        .close-menu::after{
          width: 100%;
          height: 10%;
          top:50%;
          margin-top: -4px;
        }
        .required::after{
            content: '*';
            color: red;
        }
        .contform label{
          font-weight: bold;
          color: #374151;
        }
        /* typewrite */
        #typewriter {
          display: inline-block;
        }
        
        #typewriter span {
            opacity: 0;
            animation: fadeIn 0.5s forwards; /* Fade in animation */
        }
        
        @keyframes fadeIn {
            to {
                opacity: 1; /* Fade in to full opacity */
            }
        }
      
        